body {
  margin: auto;
  background-image: url(image/bg7.avif);
  border-radius: 12px;
  padding: 16px;
  color: #333;
  min-height: 37vh;
}

.halaman-pln {
  max-width: 400px;
  margin: auto;
  background: #fff;
  border-radius: 12px;
  padding: 26px;
  color: #000000;
  background-image: url(image/bg5.jpeg);
  min-height: inherit;
  background-repeat: no-repeat;
  background-size: cover;
}

.halaman-pln input {
  width: 100%;
  padding: 8px;
  margin: 8px -9px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.layanan-form h4 {
  margin: 0 0 10px;
}
.btn {
  padding: 8px 12px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background: #007bff;
  cursor: pointer;
}
.button-pilihan {
  display: inline;
  background-color: aqua;
  cursor: pointer;
}
