html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-size: cover;
}

.dashboard {
  max-width: 400px;
  height: -webkit-fill-available;
  margin: auto;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  background-image: url("image/bg5.jpeg");
  background-size: cover;
  background-position: center;
  padding: 1rem;
}

.saldo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin-bottom: 1rem;
}

.saldo strong {
  font-size: 1.2rem;
}

.saldo span {
  font-size: 1.4rem;
  font-weight: bold;
  border-bottom: 2px solid #fff;
  display: inline-block;
  padding-bottom: 4px;
}

.saldo span::before {
  content: "Rp ";
}

.kotak-masuk {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
  padding: 10px;
}

.menu-item {
  background: #f4f4f4;
  text-align: center;
  padding: 15px 10px;
  border-radius: 10px;
  font-size: 13px;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.menu-item a {
  color: #110f81;
  text-decoration: none;
  font-size: 28px;
  display: block;
  margin-bottom: 5px;
}

.menu-item:hover {
  transform: translateY(-4px);
  background-color: #e8e8ff;
}

.image {
  width: 100%;
  height: 160px;
  border-radius: 12px;
  background: url("image/bg6.jpg") center/cover no-repeat;
  margin: 1rem 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.bawah {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 8px 0;
  gap: 250px;
}

.bawah div {
  width: 60px;
  text-align: center;
  color: #110f81;
  font-size: 14px;
  font-weight: 500;
  flex-shrink: 0;
}
@media (max-width: 400px) {
  .bawah {
    gap: 20px;
  }

  .bawah div {
    width: 50px;
    font-size: 12px;
  }

  .bawah div i {
    font-size: 20px;
  }
}

.bawah div i {
  display: block;
  font-size: 24px;
  margin-bottom: 4px;
}

.bawah div:hover {
  color: #4b58ff;
}
